
body {
    background-color: $color-secondary ;
    overflow-y: auto;

    ::-webkit-scrollbar {
        display: none;
    }

    .text-animation{        
        // @include respond-to(1080px){
        //     display: none;
        // }
    
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }     
    .container{
        @include margin(36px 90px 0);
        @include respond-to(920px){
            @include margin(36px 36px 0);
        }
        @include respond-to(660px){
            @include margin(18px 18px 0);
        }
    }

    main{
        position: relative;
        z-index: 1;
        .container{
            @include margin(36px 90px 0);
            @include respond-to(920px){
                @include margin(36px 36px 0);
            }
            @include respond-to(660px){
                @include margin(28px 18px 0);
            }
        }
        .section1{  
            height: 100vh; 
            
            position: relative;
            overflow: hidden;
            // @include respond-to(1080px){
            //     background-color: $color-secondary ;
            // }



            &__wrapper{

                @include flex-container(column, center, flex-start);
                @include padding(10% 0);
                @include respond-to(920px){
                    @include padding(24% 0);
                }
                @include respond-to(720px){
                    @include padding(32% 0)
                }
                @include respond-to(500px){
                    @include padding(42% 0);
                }
            }
        }   

        .section2{


            h3{
                padding-bottom: 30px;
            }
            @include padding(90px 0);
            @include respond-to(920px){
                @include padding(36px 0 0);
            }

            &__skills-wrapper{
                
                position: relative;
                display: grid;
                width: 100%;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(3, 1fr);
                gap: 20px;

                @include respond-to(1280px){
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: repeat(4, 1fr);
                }
                @include respond-to(700px){
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(6, 1fr);
                }

                #front{
                    grid-column: span 2;
                    @include respond-to(1280px){

                    }
                }
                #cms{
                    @include respond-to(700px){
                        grid-row: 4;
                        grid-column: 1;
                    }
                }
                #py{
                    @include respond-to(1280px){
                        display: none;
                    }
                    @include respond-to(700px){
                        display: block;
                        grid-row : 3;
                    }
                }
                #ide{
                    @include respond-to(1280px){
                        display: none;
                    }
                    @include respond-to(700px){
                        display: block;
                        grid-row: 6;
                    }
                }
                #git{
                    grid-row: span 2;
                    @include respond-to(700px){
                        grid-column: 1 / span 2;
                        grid-row: 6;
                    }
                }
                #back{
                    grid-column: span 2;
                    @include respond-to(1280px){
                        grid-row: 3;
                    }
                    @include respond-to(700px){
                        grid-row: 4;
                    }
                }
                #adobe{
                    grid-column: span 3;
                }
                #js{
                    grid-column: span 2;
                    @include respond-to(1280px){
                        grid-row: 3;
                        grid-column: 1 / span 2;
                    }
                    @include respond-to(700px){
                        grid-row : 3;
                    }
                }
                #office{
                    grid-column: span 3;
                }
                .column{
                    @include flex-container(column, space-between, center);
                    height: 100%;
                    @include respond-to(700px){
                        @include flex-container(row, center, space-between);
                    }
                }

            } 
            &__skills{
                position: relative;

                &:hover{
                    .section2__name{
                        opacity: 0;
                        transition: 0.2s ease-in-out;
                    }
                }
                @include respond-to(810px){
                    .section2__name{
                        opacity: 0;
                        transition: 0.2s ease-in-out;
                    }
                }
            }


            &__img{
                @include flex-container(row, center, space-between);
                @include padding(30px 0px);
                gap: 60px;
                @include respond-to(700px){
                    gap: 40px
                }
                height: 100%;
                @include respond-to(480px){
                    @include padding(20px 0px);
                    gap: 20px;
                    border-radius: 20px;

                }

                border: 5px solid $color-white;
                border-radius: 32px;
                img{
                    width: 100px;
                    aspect-ratio: 1/1;

                    @include respond-to (820px){
                        width: 100px;
                    }
                    @include respond-to(480px){
                        width: 60px;
                    }
                }
                

                
            }

            .active{
                transition: 0.4s ease-in-out;
                opacity: 0;
            }

            &__name{
                // display: none;
                @include flex-container(row, center, center);
                position: absolute;
                z-index: 1;
                background-color: $color-primary;
                border-radius: 32px;
                color: $color-white;
                width: 100%;
                height: 100%;

                @include respond-to(480px){
                    gap: 20px;
                    border-radius: 20px;
                }

                span{
                    font-size: 32px;
                    font-family: 'poppins', sans-serif;
                    text-transform: uppercase;
                    font-weight: 500;
                    color: $color-black;
                }
            }
            
        }

        .section3{
            position: relative;
            overflow-x: auto;
            overflow-y: hidden;
            @include respond-to(1200px){
                @include margin(36px 90px 0);
            }
            @include respond-to(920px){
                @include padding(36px 0 0);
                @include margin(36px 36px 0);
            }
            @include respond-to(660px){
                @include margin(18px 18px 0);
            }
            // width: 100%;
            font-family: 'poppins', sans-serif;

            h3{
                @media screen and (min-width: 1200px) {
                    @include margin(36px 90px 0);
                    position: sticky;
                    top: 0;
                    left: 90px;
                    padding-bottom: 30px;
                    overflow: hidden;
                }
            }

            h2{
                margin: 0;
                width: 100%;
                text-transform: none;
            }

            span{
                font-weight: bold;
                font-size: 18px;
            }

            p{
                margin-bottom: 0;
            }

            span, p, a {
                color: $color-black;
            }

            &__project{

                // @media screen and (min-width: 1200px) {
                //     @include margin(36px 90px 0);
                // }

                @media screen and (min-width: 1200px) {
                    @include flex-container();
                    gap: 86px;
                    width: 370vw;
                    margin-inline: 90px;

                    
                }
                
                @include respond-to(1200px){
                    @include flex-container(column);
                    gap: 42px;
                }
            }
        
            &__project-wrapper{
                @media screen and (min-width: 1200px) {
                    width: 120vw;
                    height: 100%;

                    @include flex-container(row, flex-start, center);
                    gap: 46px;

                }
            
                @include respond-to(1200px){
                    @include flex-container(column);
                    gap: 21px;
                    width: 100%;
                }
            }

            &__project-informations{
                @include flex-container(column);
                gap: 21px;
                @media screen and (min-width: 1200px) {
                    width: 60%;
                }
            }

            &__card{
                @include flex-container(column, flex-start, flex-start);
                @include padding(40px);
                @include respond-to (520px){
                    @include padding(30px);
                }
                @include respond-to (420px){
                    @include padding(22px);
                }
                gap: 21px;

                background-color: $color-primary;
                border-radius: 40px;
            }

            &__wrapper-informations{
                @include flex-container(column);
                width: 100%;
                gap: 4px;
            }

            &__informations{
                @include flex-container(row, space-between, space-between);
                width: 100%;
            }

            &__tags-wrapper{
                @include flex-container(column);
                width: 100%;
                gap: 6px;
            }

            &__tags-line{
                @include flex-container(row);
                gap: 12px;
                @include respond-to (600px){
                    gap: 6px;
                }
                flex-wrap: wrap;

            }

            &__tags{
                background-color: $color-secondary;
                border-radius: 100px;
                padding: 8px 12px;
                text-align: center;
                @include respond-to (600px){
                    padding: 6px 10px;
                }
                @include respond-to (420px){
                    padding: 4px 8px;
                }
                span {
                    color: $color-white;
                    @include respond-to (600px){
                        font-size: 16px;
                    }
                    @include respond-to (420px){
                        font-size: 14px;
                    }
                }
            }

            &__video{
                width: 100%;

                video{
                    width: 100%;
                    border-radius: 20px;
                }
            }
        }
    }

    footer{

        @include margin(90px 90px 36px);
        @include respond-to(920px){
            @include margin(36px 36px 36px);
        }
        @include respond-to(660px){
            @include margin(18px 18px 18px);
        }
        .footer__wrapper{
            @include flex-container(row, space-between, flex-end);
            @include respond-to(520px) {
                @include flex-container(column-reverse, center, flex-end);
                width: 100%;
                gap: 40px;
            }
            #tag{
                @include respond-to(520px) {
                    align-self: center;
                }
            }
        }

        p{
            font-weight: 200;
            margin: 0;
            @include respond-to(520px) {
                width: 100%;
            }
        }

        .footer__socials{



            &__wrapper{
                position: relative;
                h3{
                    margin: 0;
                }

                .alert{
                    display: none;
                    background-color: $color-primary;
                    color: $color-black;
                    border-radius: 4px;
                    padding: 2px 8px;
                    position: absolute;
                    left: -120px;
                    top: 36px;
                    text-align: center;


                    @include respond-to(920px) {
                        left: -90px;
                        top: 36px;
                    }
                    @include respond-to(520px) {
                        max-width: 72px;
                    }
                }

                &__content{
                    @include flex-container(row, space-between, center);
                    width: 200px;

                    @include padding(40px 0 0px);

                    &:hover{
                        h3{
                            text-decoration: underline;
                            transition: 1s ease;
                        }
                    }
                }


            }
        }
    }
}