@charset "UTF-8";
@font-face {
  font-family: "Inter-regular";
  src: url(‘/font/Inter/Inter-Regular’) format(‘truetype’);
  font-family: "Inter-light";
  src: url(‘/font/Inter/Inter-Light) format(‘truetype’);
  font-family: "Inter-medium";
  src: url(‘/font/Inter/Inter-Medium) format(‘truetype’);
}
@font-face {
  font-family: "Dahlia";
  src: url(../../font/Dahlia/dahlia.otf) format("opentype"), url(../../font/Dahlia/dahlia.woff2) format("woff2"), url(../../font/Dahlia/dahlia.woff) format("woff");
}
@font-face {
  font-family: sacramento;
  font-style: normal;
  font-weight: 400;
  src: local("Sacramento"), url(https://fonts.cdnfonts.com/s/57819/SacramentoRegular-X3LaG.woff) format("woff");
}
/* ce fichier est utilisé pour réinitialiser les styles par défaut du navigateur */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter-regular";
  src: url(‘/font/Inter/Inter-Regular’) format(‘truetype’);
  font-family: "Inter-light";
  src: url(‘/font/Inter/Inter-Light) format(‘truetype’);
  font-family: "Inter-medium";
  src: url(‘/font/Inter/Inter-Medium) format(‘truetype’);
}
@font-face {
  font-family: "Dahlia";
  src: url(../../font/Dahlia/dahlia.otf) format("opentype"), url(../../font/Dahlia/dahlia.woff2) format("woff2"), url(../../font/Dahlia/dahlia.woff) format("woff");
}
@font-face {
  font-family: sacramento;
  font-style: normal;
  font-weight: 400;
  src: local("Sacramento"), url(https://fonts.cdnfonts.com/s/57819/SacramentoRegular-X3LaG.woff) format("woff");
}
h1 {
  font-size: 120px;
  font-family: "poppins", sans-serif;
  color: #D1BFE8;
  font-weight: 700;
  letter-spacing: -7.2px;
  text-transform: uppercase;
}

h2 {
  font-size: 84px;
  font-family: "poppins", sans-serif;
  margin-bottom: 18px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-size: 32px;
  font-family: "poppins", sans-serif;
  margin-bottom: 12px;
  color: #ffffff;
  font-weight: 400;
}

p {
  font-family: "poppins", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 300;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 920px) {
  h1 {
    font-size: 100px;
    letter-spacing: -6.2px;
  }
}
@media only screen and (max-width: 660px) {
  h1 {
    font-size: 80px;
    letter-spacing: -5.2px;
  }
}
@media only screen and (max-width: 520px) {
  h1 {
    font-size: 60px;
    letter-spacing: -4.2px;
  }
}
@media only screen and (max-width: 440px) {
  h1 {
    font-size: 50px;
    letter-spacing: -3.2px;
  }
}

@media only screen and (max-width: 920px) {
  h2 {
    font-size: 64px;
  }
}
@media only screen and (max-width: 660px) {
  h2 {
    font-size: 48px;
  }
}

@media only screen and (max-width: 920px) {
  h3 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 920px) {
  p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 920px) {
  a {
    font-size: 18px;
  }
}

@font-face {
  font-family: "Inter-regular";
  src: url(‘/font/Inter/Inter-Regular’) format(‘truetype’);
  font-family: "Inter-light";
  src: url(‘/font/Inter/Inter-Light) format(‘truetype’);
  font-family: "Inter-medium";
  src: url(‘/font/Inter/Inter-Medium) format(‘truetype’);
}
@font-face {
  font-family: "Dahlia";
  src: url(../../font/Dahlia/dahlia.otf) format("opentype"), url(../../font/Dahlia/dahlia.woff2) format("woff2"), url(../../font/Dahlia/dahlia.woff) format("woff");
}
@font-face {
  font-family: sacramento;
  font-style: normal;
  font-weight: 400;
  src: local("Sacramento"), url(https://fonts.cdnfonts.com/s/57819/SacramentoRegular-X3LaG.woff) format("woff");
}
@font-face {
  font-family: "Inter-regular";
  src: url(‘/font/Inter/Inter-Regular’) format(‘truetype’);
  font-family: "Inter-light";
  src: url(‘/font/Inter/Inter-Light) format(‘truetype’);
  font-family: "Inter-medium";
  src: url(‘/font/Inter/Inter-Medium) format(‘truetype’);
}
@font-face {
  font-family: "Dahlia";
  src: url(../../font/Dahlia/dahlia.otf) format("opentype"), url(../../font/Dahlia/dahlia.woff2) format("woff2"), url(../../font/Dahlia/dahlia.woff) format("woff");
}
@font-face {
  font-family: sacramento;
  font-style: normal;
  font-weight: 400;
  src: local("Sacramento"), url(https://fonts.cdnfonts.com/s/57819/SacramentoRegular-X3LaG.woff) format("woff");
}
h1 {
  font-size: 120px;
  font-family: "poppins", sans-serif;
  color: #D1BFE8;
  font-weight: 700;
  letter-spacing: -7.2px;
  text-transform: uppercase;
}

h2 {
  font-size: 84px;
  font-family: "poppins", sans-serif;
  margin-bottom: 18px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-size: 32px;
  font-family: "poppins", sans-serif;
  margin-bottom: 12px;
  color: #ffffff;
  font-weight: 400;
}

p {
  font-family: "poppins", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 300;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 920px) {
  h1 {
    font-size: 100px;
    letter-spacing: -6.2px;
  }
}
@media only screen and (max-width: 660px) {
  h1 {
    font-size: 80px;
    letter-spacing: -5.2px;
  }
}
@media only screen and (max-width: 520px) {
  h1 {
    font-size: 60px;
    letter-spacing: -4.2px;
  }
}
@media only screen and (max-width: 440px) {
  h1 {
    font-size: 50px;
    letter-spacing: -3.2px;
  }
}

@media only screen and (max-width: 920px) {
  h2 {
    font-size: 64px;
  }
}
@media only screen and (max-width: 660px) {
  h2 {
    font-size: 48px;
  }
}

@media only screen and (max-width: 920px) {
  h3 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 920px) {
  p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 920px) {
  a {
    font-size: 18px;
  }
}

body {
  background-color: #3e2b44;
  overflow-y: auto;
}
body ::-webkit-scrollbar {
  display: none;
}
body .text-animation {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
body .container {
  margin: 36px 90px 0;
}
@media only screen and (max-width: 920px) {
  body .container {
    margin: 36px 36px 0;
  }
}
@media only screen and (max-width: 660px) {
  body .container {
    margin: 18px 18px 0;
  }
}
body main {
  position: relative;
  z-index: 1;
}
body main .container {
  margin: 36px 90px 0;
}
@media only screen and (max-width: 920px) {
  body main .container {
    margin: 36px 36px 0;
  }
}
@media only screen and (max-width: 660px) {
  body main .container {
    margin: 28px 18px 0;
  }
}
body main .section1 {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
body main .section1__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10% 0;
}
@media only screen and (max-width: 920px) {
  body main .section1__wrapper {
    padding: 24% 0;
  }
}
@media only screen and (max-width: 720px) {
  body main .section1__wrapper {
    padding: 32% 0;
  }
}
@media only screen and (max-width: 500px) {
  body main .section1__wrapper {
    padding: 42% 0;
  }
}
body main .section2 {
  padding: 90px 0;
}
body main .section2 h3 {
  padding-bottom: 30px;
}
@media only screen and (max-width: 920px) {
  body main .section2 {
    padding: 36px 0 0;
  }
}
body main .section2__skills-wrapper {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
@media only screen and (max-width: 1280px) {
  body main .section2__skills-wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 700px) {
  body main .section2__skills-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
body main .section2__skills-wrapper #front {
  grid-column: span 2;
}
@media only screen and (max-width: 700px) {
  body main .section2__skills-wrapper #cms {
    grid-row: 4;
    grid-column: 1;
  }
}
@media only screen and (max-width: 1280px) {
  body main .section2__skills-wrapper #py {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  body main .section2__skills-wrapper #py {
    display: block;
    grid-row: 3;
  }
}
@media only screen and (max-width: 1280px) {
  body main .section2__skills-wrapper #ide {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  body main .section2__skills-wrapper #ide {
    display: block;
    grid-row: 6;
  }
}
body main .section2__skills-wrapper #git {
  grid-row: span 2;
}
@media only screen and (max-width: 700px) {
  body main .section2__skills-wrapper #git {
    grid-column: 1/span 2;
    grid-row: 6;
  }
}
body main .section2__skills-wrapper #back {
  grid-column: span 2;
}
@media only screen and (max-width: 1280px) {
  body main .section2__skills-wrapper #back {
    grid-row: 3;
  }
}
@media only screen and (max-width: 700px) {
  body main .section2__skills-wrapper #back {
    grid-row: 4;
  }
}
body main .section2__skills-wrapper #adobe {
  grid-column: span 3;
}
body main .section2__skills-wrapper #js {
  grid-column: span 2;
}
@media only screen and (max-width: 1280px) {
  body main .section2__skills-wrapper #js {
    grid-row: 3;
    grid-column: 1/span 2;
  }
}
@media only screen and (max-width: 700px) {
  body main .section2__skills-wrapper #js {
    grid-row: 3;
  }
}
body main .section2__skills-wrapper #office {
  grid-column: span 3;
}
body main .section2__skills-wrapper .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media only screen and (max-width: 700px) {
  body main .section2__skills-wrapper .column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
  }
}
body main .section2__skills {
  position: relative;
}
body main .section2__skills:hover .section2__name {
  opacity: 0;
  transition: 0.2s ease-in-out;
}
@media only screen and (max-width: 810px) {
  body main .section2__skills .section2__name {
    opacity: 0;
    transition: 0.2s ease-in-out;
  }
}
body main .section2__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  padding: 30px 0px;
  gap: 60px;
  height: 100%;
  border: 5px solid #ffffff;
  border-radius: 32px;
}
@media only screen and (max-width: 700px) {
  body main .section2__img {
    gap: 40px;
  }
}
@media only screen and (max-width: 480px) {
  body main .section2__img {
    padding: 20px 0px;
    gap: 20px;
    border-radius: 20px;
  }
}
body main .section2__img img {
  width: 100px;
  aspect-ratio: 1/1;
}
@media only screen and (max-width: 820px) {
  body main .section2__img img {
    width: 100px;
  }
}
@media only screen and (max-width: 480px) {
  body main .section2__img img {
    width: 60px;
  }
}
body main .section2 .active {
  transition: 0.4s ease-in-out;
  opacity: 0;
}
body main .section2__name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: #D1BFE8;
  border-radius: 32px;
  color: #ffffff;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 480px) {
  body main .section2__name {
    gap: 20px;
    border-radius: 20px;
  }
}
body main .section2__name span {
  font-size: 32px;
  font-family: "poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #333333;
}
body main .section3 {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  font-family: "poppins", sans-serif;
}
@media only screen and (max-width: 1200px) {
  body main .section3 {
    margin: 36px 90px 0;
  }
}
@media only screen and (max-width: 920px) {
  body main .section3 {
    padding: 36px 0 0;
    margin: 36px 36px 0;
  }
}
@media only screen and (max-width: 660px) {
  body main .section3 {
    margin: 18px 18px 0;
  }
}
@media screen and (min-width: 1200px) {
  body main .section3 h3 {
    margin: 36px 90px 0;
    position: sticky;
    top: 0;
    left: 90px;
    padding-bottom: 30px;
    overflow: hidden;
  }
}
body main .section3 h2 {
  margin: 0;
  width: 100%;
  text-transform: none;
}
body main .section3 span {
  font-weight: bold;
  font-size: 18px;
}
body main .section3 p {
  margin-bottom: 0;
}
body main .section3 span, body main .section3 p, body main .section3 a {
  color: #333333;
}
@media screen and (min-width: 1200px) {
  body main .section3__project {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 86px;
    width: 370vw;
    margin-inline: 90px;
  }
}
@media only screen and (max-width: 1200px) {
  body main .section3__project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 42px;
  }
}
@media screen and (min-width: 1200px) {
  body main .section3__project-wrapper {
    width: 120vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 46px;
  }
}
@media only screen and (max-width: 1200px) {
  body main .section3__project-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 21px;
    width: 100%;
  }
}
body main .section3__project-informations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 21px;
}
@media screen and (min-width: 1200px) {
  body main .section3__project-informations {
    width: 60%;
  }
}
body main .section3__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  gap: 21px;
  background-color: #D1BFE8;
  border-radius: 40px;
}
@media only screen and (max-width: 520px) {
  body main .section3__card {
    padding: 30px;
  }
}
@media only screen and (max-width: 420px) {
  body main .section3__card {
    padding: 22px;
  }
}
body main .section3__wrapper-informations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  gap: 4px;
}
body main .section3__informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
}
body main .section3__tags-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  gap: 6px;
}
body main .section3__tags-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 12px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
  body main .section3__tags-line {
    gap: 6px;
  }
}
body main .section3__tags {
  background-color: #3e2b44;
  border-radius: 100px;
  padding: 8px 12px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  body main .section3__tags {
    padding: 6px 10px;
  }
}
@media only screen and (max-width: 420px) {
  body main .section3__tags {
    padding: 4px 8px;
  }
}
body main .section3__tags span {
  color: #ffffff;
}
@media only screen and (max-width: 600px) {
  body main .section3__tags span {
    font-size: 16px;
  }
}
@media only screen and (max-width: 420px) {
  body main .section3__tags span {
    font-size: 14px;
  }
}
body main .section3__video {
  width: 100%;
}
body main .section3__video video {
  width: 100%;
  border-radius: 20px;
}
body footer {
  margin: 90px 90px 36px;
}
@media only screen and (max-width: 920px) {
  body footer {
    margin: 36px 36px 36px;
  }
}
@media only screen and (max-width: 660px) {
  body footer {
    margin: 18px 18px 18px;
  }
}
body footer .footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
@media only screen and (max-width: 520px) {
  body footer .footer__wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    gap: 40px;
  }
}
@media only screen and (max-width: 520px) {
  body footer .footer__wrapper #tag {
    align-self: center;
  }
}
body footer p {
  font-weight: 200;
  margin: 0;
}
@media only screen and (max-width: 520px) {
  body footer p {
    width: 100%;
  }
}
body footer .footer__socials__wrapper {
  position: relative;
}
body footer .footer__socials__wrapper h3 {
  margin: 0;
}
body footer .footer__socials__wrapper .alert {
  display: none;
  background-color: #D1BFE8;
  color: #333333;
  border-radius: 4px;
  padding: 2px 8px;
  position: absolute;
  left: -120px;
  top: 36px;
  text-align: center;
}
@media only screen and (max-width: 920px) {
  body footer .footer__socials__wrapper .alert {
    left: -90px;
    top: 36px;
  }
}
@media only screen and (max-width: 520px) {
  body footer .footer__socials__wrapper .alert {
    max-width: 72px;
  }
}
body footer .footer__socials__wrapper__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding: 40px 0 0px;
}
body footer .footer__socials__wrapper__content:hover h3 {
  text-decoration: underline;
  transition: 1s ease;
}

/*# sourceMappingURL=main.css.map */
